#csv系のプッシュはしない
*.csv
*/*.csv
#鍵ファイルはプッシュを行わない
*.pem
*/*.pem
#host/hostファイルのプッシュを行わない
hosts/hosts
#DS_storeのプッシュは行わない
.DS_Store
#tfファイルのプッシュを行わない
*.tf
*/*.tf
#handsonのプッシュを行わない
*/handson
#.vscode
.vscode
#fileのs3_upload.sh
files/s3_upload.sh